* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    padding: 0px 18px 23px 18px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    color: #6a5acd;
    text-align: center;
}

p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    padding-bottom: 12px;
}

form {
    border-radius: 8px;
    margin-top: 20px;
    border-style: groovy;
    display: flex;
    flex-direction: column;
    padding: 22px 24px;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

.form-input>div {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #333333;
}

form input {
    padding: 1rem;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

.output-container {
    text-align: center;
    padding-top: 20px;
}

#output {
    padding: 10px;
    color: #6a5acd;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

form button {
    background-color: #6a5acd;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}